
*.pyc
*.ppm
*.csv
t9-machine-learning/belgian/Training/Readme.txt
t9-machine-learning/belgian.zip
t9-machine-learning/belgian/Testing/Readme.txt
.idea/misc.xml
.idea/modules.xml
.idea/curso-python-inap.iml
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/curso-python-inap.iml
